In [1]:
import pandas as pd
import numpy as np

In [6]:
variavel_resposta = 'IN_TREINEIRO'

In [2]:
full_df = pd.read_csv('train.csv')
full_df = full_df[~full_df[variavel_resposta].isna()]

In [3]:
test = pd.read_csv('test.csv')

In [4]:
full_df.shape

(13730, 167)

In [5]:
test.shape

(4570, 43)

In [7]:
full_df.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [8]:
test.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,...,NaN,NaN,E,E,H,B,B,C,D,A
1,177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,...,NaN,NaN,B,C,B,A,A,C,D,A
2,6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,...,NaN,NaN,E,F,G,B,B,A,NaN,D
3,5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,...,40.0,480.0,E,E,E,C,B,B,C,A
4,df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,...,80.0,720.0,E,E,E,B,B,B,D,A

In [9]:
full_df = full_df[test.columns.tolist() + [variavel_resposta]]

In [10]:
full_df.shape

(13730, 44)

In [24]:
full_df.isna().sum()

CO_UF_RESIDENCIA        0
SG_UF_RESIDENCIA        0
NU_IDADE                0
TP_SEXO                 0
TP_COR_RACA             0
TP_NACIONALIDADE        0
TP_ST_CONCLUSAO         0
TP_ANO_CONCLUIU         0
TP_ESCOLA               0
IN_BAIXA_VISAO          0
IN_CEGUEIRA             0
IN_SURDEZ               0
IN_DISLEXIA             0
IN_DISCALCULIA          0
IN_SABATISTA            0
IN_GESTANTE             0
IN_IDOSO                0
TP_PRESENCA_CN          0
TP_PRESENCA_CH          0
TP_PRESENCA_LC          0
TP_PRESENCA_MT          0
NU_NOTA_CN           3389
NU_NOTA_CH           3389
NU_NOTA_LC           3597
TP_LINGUA               0
TP_STATUS_REDACAO    3597
NU_NOTA_COMP1        3597
NU_NOTA_COMP2        3597
NU_NOTA_COMP3        3597
NU_NOTA_COMP4        3597
NU_NOTA_COMP5        3597
NU_NOTA_REDACAO      3597
Q001                    0
Q002                    0
Q006                    0
Q024                    0
Q025                    0
Q026                    0
Q027                    0
Q047                    0
IN_TREINEIRO            0
dtype: int64

In [25]:
test.isna().sum()

NU_INSCRICAO            0
CO_UF_RESIDENCIA        0
SG_UF_RESIDENCIA        0
NU_IDADE                0
TP_SEXO                 0
TP_COR_RACA             0
TP_NACIONALIDADE        0
TP_ST_CONCLUSAO         0
TP_ANO_CONCLUIU         0
TP_ESCOLA               0
IN_BAIXA_VISAO          0
IN_CEGUEIRA             0
IN_SURDEZ               0
IN_DISLEXIA             0
IN_DISCALCULIA          0
IN_SABATISTA            0
IN_GESTANTE             0
IN_IDOSO                0
TP_PRESENCA_CN          0
TP_PRESENCA_CH          0
TP_PRESENCA_LC          0
TP_PRESENCA_MT          0
NU_NOTA_CN           1112
NU_NOTA_CH           1112
NU_NOTA_LC           1170
TP_LINGUA               0
TP_STATUS_REDACAO    1170
NU_NOTA_COMP1        1170
NU_NOTA_COMP2        1170
NU_NOTA_COMP3        1170
NU_NOTA_COMP4        1170
NU_NOTA_COMP5        1170
NU_NOTA_REDACAO      1170
Q001                    0
Q002                    0
Q006                    0
Q024                    0
Q025                    0
Q026                    0
Q027                    0
Q047                    0
dtype: int64

In [13]:
full_df = full_df.drop(columns=['TP_ENSINO','TP_DEPENDENCIA_ADM_ESC'])
test = test.drop(columns=['TP_ENSINO','TP_DEPENDENCIA_ADM_ESC'])

In [14]:
full_df.loc[full_df['Q027'].isna(),'Q027'] = 'NULL'
test.loc[test['Q027'].isna(),'Q027'] = 'NULL'

In [15]:
full_df.nunique()

NU_INSCRICAO         13730
CO_UF_RESIDENCIA        27
SG_UF_RESIDENCIA        27
NU_IDADE                55
TP_SEXO                  2
TP_COR_RACA              6
TP_NACIONALIDADE         5
TP_ST_CONCLUSAO          4
TP_ANO_CONCLUIU         11
TP_ESCOLA                4
IN_BAIXA_VISAO           2
IN_CEGUEIRA              1
IN_SURDEZ                2
IN_DISLEXIA              2
IN_DISCALCULIA           2
IN_SABATISTA             2
IN_GESTANTE              2
IN_IDOSO                 2
TP_PRESENCA_CN           3
TP_PRESENCA_CH           3
TP_PRESENCA_LC           3
TP_PRESENCA_MT           3
NU_NOTA_CN            2692
NU_NOTA_CH            2978
NU_NOTA_LC            2774
TP_LINGUA                2
TP_STATUS_REDACAO        9
NU_NOTA_COMP1           15
NU_NOTA_COMP2           13
NU_NOTA_COMP3           12
NU_NOTA_COMP4           14
NU_NOTA_COMP5           14
NU_NOTA_REDACAO         53
Q001                     8
Q002                     8
Q006                    17
Q024                     5
Q025                     2
Q026                     3
Q027                    14
Q047                     5
IN_TREINEIRO             2
dtype: int64

In [54]:
categorical = ['SG_UF_RESIDENCIA','TP_COR_RACA','TP_NACIONALIDADE','TP_ST_CONCLUSAO',
               'TP_ANO_CONCLUIU','TP_ESCOLA','TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC',
              'TP_STATUS_REDACAO','Q001','Q002','Q006','Q024','Q026','Q027','Q047',]

In [17]:
numeric = ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_COMP1','NU_NOTA_COMP2',
           'NU_NOTA_COMP3','NU_NOTA_COMP4','NU_NOTA_COMP5','NU_NOTA_REDACAO',]

In [18]:
full_df.loc[full_df['Q025'] == 'B','Q025'] = 1
full_df.loc[full_df['Q025'] == 'A','Q025'] = 0
test.loc[test['Q025'] == 'B','Q025'] = 1
test.loc[test['Q025'] == 'A','Q025'] = 0

In [19]:
full_df.loc[full_df['TP_SEXO'] == 'M','TP_SEXO'] = 1
full_df.loc[full_df['TP_SEXO'] == 'F','TP_SEXO'] = 0
test.loc[test['TP_SEXO'] == 'M','TP_SEXO'] = 1
test.loc[test['TP_SEXO'] == 'F','TP_SEXO'] = 0

In [20]:
full_df = full_df.set_index('NU_INSCRICAO')

In [21]:
X = full_df.drop(columns=variavel_resposta)

In [22]:
y = full_df[variavel_resposta]

In [23]:
y.value_counts()

0    11947
1     1783
Name: IN_TREINEIRO, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

In [35]:
X_train_test, X_valid, y_train_test,y_valid = train_test_split(X,y,test_size=0.2,random_state = 42)

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numeric),
        ('cat', categorical_transformer, categorical)
    ])

# Define model
LRmodel = LogisticRegression()
RFmodel = RandomForestClassifier(random_state=42, n_estimators=50,class_weight='balanced_subsample')

# Bundle preprocessing and modeling code in a pipeline
clf_lr = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', LRmodel)
                     ])
clf_rf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', RFmodel)
                     ])

In [61]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold()
scores_lr = []
scores_rf = []
for train_index, test_index in skf.split(X_train_test, y_train_test):
    X_train, X_test = X_train_test.iloc[train_index,], X_train_test.iloc[test_index,]
    y_train, y_test = y_train_test.iloc[train_index,], y_train_test.iloc[test_index,]
    clf_lr.fit(X_train,y_train)
    clf_rf.fit(X_train,y_train)
    y_lr_score = clf_lr.predict_proba(X_test)[:,1]
    y_rf_score = clf_rf.predict_proba(X_test)[:,1]
    scores_lr.append(roc_auc_score(y_test,y_lr_score))
    scores_rf.append(roc_auc_score(y_test,y_rf_score))

c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Logistic Regression scores:[0.9938422153710637, 0.9904426337811055, 0.9898985172135358, 0.9931898260295089, 0.9915912841063115]. Mean:0.991792895300305
Random Forest scores:[0.9926824120971885, 0.9825524847684063, 0.990061843940395, 0.9897287675255083, 0.9908316267900289]. Mean:0.9891714270243055

In [63]:
print("Logistic Regression scores:\n{}.\nMean:{}".format(scores_lr,np.mean(scores_lr)))
print("Random Forest scores:\n{}.\nMean:{}".format(scores_rf,np.mean(scores_rf)))

Logistic Regression scores:
[0.9938422153710637, 0.9904426337811055, 0.9898985172135358, 0.9931898260295089, 0.9915912841063115].
Mean:0.991792895300305
Random Forest scores:
[0.9926824120971885, 0.9825524847684063, 0.990061843940395, 0.9897287675255083, 0.9908316267900289].
Mean:0.9891714270243055

In [70]:
clf_rf.fit(X_train_test,y_train_test)
y_hat_rf = clf_rf.predict(X_valid)
roc_auc_score(y_valid,y_hat_rf)

0.9422352739362354

In [71]:
clf_lr.fit(X_train_test,y_train_test)
y_hat_lr = clf_lr.predict(X_valid)
roc_auc_score(y_valid,y_hat_lr)

c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.9461305609656763

In [72]:
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', LRmodel)
                     ])

In [73]:
clf.fit(X,y)

c:\programdata\anaconda3\envs\aceleradev\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='median',
                                                                                 verbose=0)),
                                                                  ('scaler',
                                                                   StandardScaler(copy=True,
                                                                                  with_mean...
                                                   'TP_PRESENCA_LC',
                                                   'TP_STATUS_REDACAO', 'Q001',
                                                   'Q002', 'Q006', 'Q024',
                                                   'Q026', 'Q027', 'Q047'])],
                                   verbose=False)),
                ('model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [75]:
test = test.set_index('NU_INSCRICAO')

In [76]:
y_test = clf.predict(test)

In [79]:
output = pd.DataFrame({'NU_INSCRICAO': test.index,
                       'IN_TREINEIRO': y_test})

In [80]:
output.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0

In [81]:
output.to_csv('answer.csv',index=False)